<h1>SignUp Here!</h1>

<form method="post" action="/addUser" name="myform">
	<input type="text" name="fullname" size="30" placeholder="Enter Name"><br>
	<input type="text" name="username" size="30" placeholder="Enter Username"><br>
	<input type="email" name="email" size="30" placeholder="Enter Email ID"><br>
	<input type="password" name="password" size="30" placeholder="Enter Password"><br>
	<input type="text" name="confpassword" size="30" placeholder="Confirm Password"><br>
	Enter Date of Birth:<br>
	<input type="number" name="day" size="5" placeholder="Day">
	<input type="number" name="month" size="5" placeholder="Month">
	<input type="number" name="year" size="5" placeholder="Year"><br>
	<input type="submit" name="submit" value="Sign Up!">
</form><br><br>

